.addedProductWrapper {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  position: relative;

  .cartImg {
    padding: 10px;
    width: 100px;
  }

  .removeItemBtn{
      position: absolute;
      right: 10px;
      background: none;
      border:none;
      font-weight: bold;
  }
}

.detailProduct {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
