
.signInContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  max-width: 50%;
  text-align: center;

  h2 {
    margin: 20px 0px;
  }

  span {
    margin: 20px 0px;
  }
}

.btnHolder {
  display: flex;
  align-items: center;
  margin-top: 40px;

  button {
    margin: 20px;
    border-radius: 10px;
    padding: 10px 20px;

    &:active{
      transition: 0.5s ease;
     transform: scale(0.9);
    }
  }

  button:hover {
    background-color: black;
    color: white;
    transition: 1s ease;
  }
}

.signInForm {
  display: flex;
  flex-direction: column;
  width: 50vw;
  align-items: center;

  

  label {
    margin-top: 30px;
    font-weight: bold;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
    padding: 10px 10px 10px 5px;
    color: gray;
  }

  input:focus {
    outline: none;
  }


  .inputContainer {

    display: flex;
    flex-direction: column;

    label {
      padding: 10px;
      border-radius: 10px;
    }
    &:focus-within {

      label {
        font-size: 20px;
        color: rgb(151, 131, 172);
        transition: 0.5s ease;
      }
    }
  }



  button {
    margin-top: 10px;
  }

  
.googleBtn{
  background-color: rgb(151, 131, 172);
  color:white;
  border: none;
  padding: 12px 20px;
}
}

@media only screen and (max-width: 800px) {
  .signInContainer {
    max-width: 100%;
  }

  .btnHolder {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;

    button {
      margin: 15px;
      border-radius: 5px;
      padding: 5px 20px;
      font-size: small;
    }
  }
}
