.arrowRight {
  color: #e9e7e7;
  position: absolute;
  top: 50%;
  z-index: 99;
  right: 42px;
  cursor: pointer;
}
.iconRight:hover {
  transition: 500ms ease;
  color: black;
  
}

.arrowLeft {
  color: #e9e7e7;
  position: absolute;
  top: 50%;
  left: 42px;
  z-index: 99;
  cursor: pointer;
}

.iconLeft:hover {
  transition: 500ms ease;
  color: black;
}

.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.bannerImg {
  border-radius: 5px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.activeSlide {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.06);
}


@media only screen and (max-width:900px) {
  .iconRight{
    display: none;
  }
  .iconLeft{
    display:none;
  }
}
