.headerMenu {
  background-color: rgba(255, 255, 255, 0.6);
  Nav.Link {
    padding-right: 20px;
  }
}

.headerLogo {
  width: 100px;
  mix-blend-mode: multiply;
  padding: 0px;
}

.dropDownItem {
  align-items: center;
  text-align: center;
}


