.wrapperShop {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
 
  .containerShop {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-around;
    align-items: center;
  }
  .title {
    margin: 50px;
    z-index: 99;
    display: block;
  }
}
