.cartIconWrapper {
  position: relative;
  cursor: pointer;

  .cardIcon {
    height: 35px;
    width: 35px;
  }

  button {
    background: none;
    border: none;
    padding: 10px;
  }

  p {
    font-size: 14px;
    font-weight: bold;
    left: 22px;
    position: absolute;
    top: 21px;
  }
}
